In [0]:
import pandas as pd

In [0]:
data = pd.DataFrame({'Username': ['john12', 'maria23'], 'Email': ['john12@gmail.com', 'maria23@gmail.com']})

In [7]:
display(data)

  Username              Email
0   john12   john12@gmail.com
1  maria23  maria23@gmail.com