In [0]:
import pandas as pd

In [0]:
data = pd.DataFrame({'Hostname': ['www.google.com', 'www.yahoo.com'], 'Hits': [14556733553, 12553553]})

In [5]:
display(data)

         Hostname         Hits
0  www.google.com  14556733553
1   www.yahoo.com     12553553